@import url(./font.css);

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

/*Default values*/

:root {
  --color-primary: #ffff;
  --color-secondary: #f7f7f7;
  --color-border: #f0f0f0;

  --color-text-primary: #130505;
  --color-text-primary-light: #606060;
  --color-text-bold: #180d03;
  --color-text-secondary: #cc312d;
  --color-text-badge: #2e7af1;

  --color-badge-blue: #edf4ff;
  --color-badge-green: #e9f7ed;
  --color-badge-gray: #e8e8e8;
  --color-badge-red: #fdebec;

  --border-radius-badge: 4rem;
  --border-radius-lg: 2rem;
  --border-radius-md: 1.6rem;
  --border-radius-sm: 1.2rem;

  --font-size-price: 2.4rem;
  --font-size-primary-lg: 2.3rem;
  --font-size-primary-md: 1.6rem;
  --font-size-primary-sm: 1.4rem;
  --font-size-badge: 1.2rem;

  --pading-size: 2.4rem;
  --pading-size-product: 1.6rem;

  --cart-product-size: 7.2rem;
  --cart-product-size-mobile: 5.5rem;
}

body,
* {
  font-family: Vazirmatn;
}

html {
  font-size: 62.5%;
}

/* main section */
.page__main-section {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(220px, 310px) 1fr;
  gap: 2rem;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .page__main-section {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 1.3rem;
  }
}
@media screen and (min-width: 768px) {
  .page__orders {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .page__main-section{
     grid-template-columns: minmax(200px, 310px) 1fr;
  }
}
/* @media screen and (min-width: 769px) and (max-width: 1024px) {
  .page__main-section {
    grid-template-columns: minmax(220px, 250px) 1fr;
    max-width: 100%;
  }
  .page__orders{
    overflow-x: hidden;
  }
} */

/*page__sidebar*/
.page__sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-lg);
  padding: 2.4rem 1.9rem;
  height: fit-content;
}
@media screen and (max-width: 768px) {
  .page__sidebar {
    width: 90%;
    margin: 0 auto;
  }
}
/*page__sidebar-header*/
.page__sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 1.5rem;
}

.page__sidebar-header-right {
  display: flex;
  gap: 1.7rem;
  align-items: center;
}
.page__sidebar-header-left {
  cursor: pointer;
}
.page__header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-primary);
  width: 5rem;
  height: 5rem;
  border-radius: var(--border-radius-sm);
  padding: var(--pading-size-product);
}
.page__header-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.page__header-info-username {
  font-size: var(--font-size-primary-md);
  color: var(--color-text-primary);
  font-weight: 500;
}
.page__header-info-tel {
  font-size: var(--font-size-primary-sm);
  color: var(--color-text-primary-light);
  font-weight: 400;
}

/*page__sidebar-body*/
.page__sidebar-option {
  margin: 2rem 0;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1.4rem 1.6rem;
  cursor: pointer;
}
.page__sidebar-option:first-child {
  background-color: #2f0d0c;
  border-radius: var(--border-radius-badge);
}
.page__sidebar-option:last-child {
  margin-top: 6rem;
}
.page__sidebar-option:first-child .page__sidebar-option-text {
  font-weight: 700;
  color: var(--color-primary);
  font-size: var(--font-size-primary-sm);
}
.page__sidebar-option-logo img {
  display: block;
}
.page__sidebar-option-text {
  color: var(--color-text-primary);
  font-size: var(--font-size-primary-sm);
  font-weight: 600;
  flex-grow: 1;
}
.page__sidebar-option-badge {
  font-size: var(--font-size-primary-md);
  font-weight: 500;
  color: var(--color-primary);
  background-color: var(--color-text-secondary);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*page__mobile-info*/
.page__mobile-info {
  display: none;
}
@media screen and (max-width: 768px) {
  .page__mobile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    margin: 1rem 0;
    padding: 2rem 0;
  }
  .page__mobile-info-text {
    font-size: var(--font-size-primary-md);
    font-weight: 700;
    margin: 0 auto;
  }
  .page__mobile-info-logo {
    margin-right: 2rem;
  }
}

/*orders__status*/
.orders__status {
  display: flex;
  gap: 3rem;
  overflow-x: auto;
    scrollbar-width: none;
  -ms-overflow-style: none; 
}
.orders__status::-webkit-scrollbar{
  display: none;
}

/*status-section*/
.status-section {
  display: flex;
  flex: 1 0 220px;
  padding: var(--pading-size);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-md);
}
@media screen and (max-width: 768px) {
  .status-section {
    padding: var(--pading-size-product);
    flex: 0 0 250px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .status-section {
    padding: var(--pading-size-product);
  }
}
.status-section:hover {
  border: 1px solid var(--color-text-secondary);
}

/*status-section logo & img */
.status-section__logo {
  display: flex;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.status-section__logo.clock-logo {
  background-color: var(--color-badge-blue);
}
.status-section__logo.checkmark-logo {
  background-color: var(--color-badge-green);
}
.status-section__logo.undo-logo {
  background-color: var(--color-badge-gray);
}
.status-section__logo.cancel-logo {
  background-color: var(--color-badge-red);
}

.status-section__logo img {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*status-section__text*/
.status-section__text {
  display: flex;
  flex-direction: column;
}

.status-section_label {
  font-size: var(--font-size-primary-sm);
  color: var(--color-text-primary-light);
  font-weight: 600;
}
.status-section_count {
  font-size: var(--font-size-primary-lg);
  color: var(--color-text-primary);
  font-weight: 600;
  margin-top: 0.5rem;
}

/*order-card*/
.orders__card {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-md);
  padding: var(--pading-size);
  margin: 3rem 0;
}
@media screen and (max-width: 768px) {
  .orders__card {
    border: none;
    border-top: 1px solid var(--color-border);
    border-radius: 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .orders__card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
}
/*orders__card-badge*/
.orders__card-badge {
  display: flex;
  align-items: center;
  background-color: var(--color-badge-blue);
  border-radius: var(--border-radius-badge);
  color: var(--color-text-badge);
  width: fit-content;
  padding: 0.8rem 2rem;
  gap: 1rem;
}
.orders__card-badge-logo img {
  display: block;
}

.orders__card-badge-text {
  font-size: var(--font-size-badge);
  font-weight: 700;
}
/*orders__card-info*/
.orders__card-info {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 0.5rem;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .orders__card-info {
    flex-direction: column;
    border-bottom: 0;
    align-items: normal;
  }
}
.orders__card-info-details {
  display: flex;
  gap: 3rem;
  text-align: center;
  font-size: var(--border-radius-md);
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .orders__card-info-details {
    flex-direction: column;
    text-align: start;
    gap: 1.2rem;
    margin-bottom: 1.5rem;
  }
}
/*orders__card-info-num & orders__card-info-date & orders__card-info-price*/
.orders__num-label,
.orders__date-text {
  color: var(--color-text-primary-light);
}

.orders__card-info-price {
  display: flex;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .orders__card-info-price {
    justify-content: flex-end;
  }
}
.orders__price-tag {
  font-size: var(--font-size-price);
  font-weight: 700;
}
.orders__price-currency {
  font-size: 1rem;
  font-weight: 400;
}

/*orders__card-products*/
.orders__card-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-md);
  padding: var(--pading-size-product);
}

/*orders__products-list*/
.orders__products-list {
  display: flex;
  gap: 2.2rem;
}
@media screen and (max-width: 768px) {
  .orders__products-list {
    gap: 0;
  }
}
/*orders__product-cart*/
.orders__product-cart-img {
  width: var(--cart-product-size);
  height: var(--cart-product-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: var(--border-radius-sm);
  position: relative;
}
@media screen and (max-width: 768px) {
  .orders__product-cart-img {
    margin-left: -1rem;
    width: var(--cart-product-size-mobile);
    height: var(--cart-product-size-mobile);
    overflow: hidden;
    border: 4px solid var(--color-secondary);
  }
  /* .orders__product-cart-img img{
      width: 100%;
      height: 100%;
    } */
}
.orders__product-cart-count {
  text-align: center;
  position: absolute;
  bottom: -8px;
  left: -4px;
  width: 2.1rem;
  height: 2.1rem;
  border: 1px solid var(--color-text-bold);
  border-radius: 100%;
  background-color: var(--color-badge-gray);
  font-weight: 400;
  font-size: var(--font-size-primary-sm);
}
@media screen and (max-width: 768px) {
  .orders__product-cart-count {
    display: none;
  }
}

/*orders__products-details*/
.orders__products-details {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-text-secondary);
  gap: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.orders__products-details-text {
  font-size: var(--font-size-primary-sm);
  font-weight: 700;
  text-align: center;
}
.orders__products-details span:nth-child(2) {
  font-size: 0.1rem;
}
